<div id="demo" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        {{#each reviews}}
        {{#unless @index}}<li data-target="#demo" data-slide-to="{{@index}}" class="active"></li>{{/unless}}
        {{#if @index}}<li data-target="#demo" data-slide-to="{{@index}}"></li>{{/if}}
        
        {{/each}}
      </ul>

      <div class="carousel-inner">
      {{#each reviews}}
      {{#unless @index}}<div class="carousel-item active bg-warning">{{/unless}}
      {{#if @index}}<div class="carousel-item bg-warning">{{/if}}
          <img src="{{this.url}}" alt="{{this.title}}">
          <div class="carousel-caption text-dark">
            <h3>{{this.title}}</h3>
            <div class='rating-star' data-star='{{this.rate}}' data-slide='{{@index}}'></div>
            <p>
              {{this.content}}
            </p>
            <p>
              {{this.username}} at {{this.time}}
            </p>
          </div>
        </div>
      {{/each}}
      
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

<script src="./js/community.js"></script>
