<div id="demo" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        {{#each reviews}}
        {{#unless @index}}<li data-target="#demo" data-slide-to="{{@index}}" class="active"></li>{{/unless}}
        {{#if @index}}<li data-target="#demo" data-slide-to="{{@index}}"></li>{{/if}}
        
        {{/each}}
      </ul>

<<<<<<< HEAD
      <div class="carousel-inner">
      {{#each reviews}}
=======
>>>>>>> 5a7377e8f64b8bd0460f74ae0dbc55646e865885

      {{#unless @index}}<div class="carousel-item active bg-warning">{{/unless}}
      {{#if @index}}<div class="carousel-item bg-warning">{{/if}}
          <img src="{{this.url}}" alt="{{this.title}}">
          <div class="carousel-caption text-dark">
            <h3>{{this.title}}</h3>
            <div>Ratings: {{this.rate}}</div>
            <p>
              {{this.content}}
            </p>
            <p>
              {{this.username}} at {{this.time}}
            </p>
          </div>
        </div>
      {{/each}}
      
      </div>
{{!-- 
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active bg-warning">
          <img
            class="d-block w-75 mx-auto"
            src="https://images.pexels.com/photos/1181599/pexels-photo-1181599.jpeg"
            alt="Woman reading"
          />
          <div class="carousel-caption text-dark">
            <h3>Book Covers</h3>
            <p>
              Some book covers are so delicious, like eating a Crème brûlée!
            </p>
          </div>
        </div>
        <div class="carousel-item bg-light">
          <img
            class="d-block w-75 mx-auto"
            src="https://cdn.pixabay.com/photo/2017/12/17/16/08/customer-experience-3024488_960_720.jpg"
            alt="Rating stars"
          />
          <div class="carousel-caption text-light">
            <h3>Book Ratings</h3>
            <p>Book Ratings are of utmost importance!</p>
          </div>
        </div>
        <div class="carousel-item bg-secondary">
          <img
            class="d-block w-75 mx-auto"
            src="https://images.pexels.com/photos/2846814/pexels-photo-2846814.jpeg"
            alt="Book with coffee"
          />
          <div class="carousel-caption text-light">
            <h3>Book Reviews</h3>
            <p>Book reviews help readers to choose a new book to read!</p>
          </div>
        </div>
      </div> --}}

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>