<div class="row d-flex justify-content-center">
  <h2 class="text-primary"> Latest Reviews</h2>
</div>

<div class="row d-flex justify-content-center">

<div class="col-md-12 col-lg-8 bg-pink">
{{!-- <div class="p-0 m-0 dashboard-view"> --}}
  
<div id="demo" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
        {{#each reviews}}
        {{#unless @index}}<li data-target="#demo" data-slide-to="{{@index}}" class="active"></li>{{/unless}}
        {{#if @index}}<li data-target="#demo" data-slide-to="{{@index}}"></li>{{/if}}
        
        {{/each}}
      </ul>

      

      <div class="carousel-inner">
      {{#each reviews}}
      {{#unless @index}}<div class="carousel-item active bg-pink">{{/unless}}
      {{#if @index}}<div class="carousel-item bg-pink">{{/if}}

        <div class="row justify-content-center">
          <div class="col-sm-6 col-md-4">
                <img id="carousel-image" src="{{this.url}}" alt="{{this.title}}">
            </div>
            <div class="col-sm-5 col-md-4">
                <h3>{{this.title}}</h3>
                <p>by {{this.author}}</p>
              <div class='rating-star' data-star='{{this.rate}}' data-slide='{{@index}}'></div>
              <p>
                {{this.content}}
              </p>
              <p>
                - {{this.username}} at {{this.time}}
              </p>
            </div>

        </div>
          

        </div>
      {{/each}}
      
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

{{!-- </div> --}}
</div>
</div>
<script src="./js/community.js"></script>
