{{!-- This is the content of the {{body}} tag in our main layout --}}
<div class="col-md-9"><h2 class="text-primary"> Welcome back <span id="name-of-user"></span></h2></div>

<div class="row d-flex justify-content-center">
<div class="col-md-12 col-lg-8 card">

  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>

<div class="dashboard-view">

    <h3>Books on your Reading and To-Read List: <button class="btn btn-primary"  data-toggle="modal" data-target="#modal-search" data-backdrop="static" data-search="current"  data-keyboard="false">Add a Book</button></h3>
  <div class="container">
    <div class="row d-flex justify-content-center">
      
    <div class="col-md-12 col-lg-10" id="current-list" >
        <ulid="lightSlider-current">

            {{#each books}}
            {{#if this.reading}}
            <li class="p-4" data-id={{this.ISBN}}>
                <img src="{{this.URL}}" data-isbn={{this.ISBN}} alt="{{this.name}}">
            </li>
            {{/if}}
            {{/each}}
        
        </ul>
    </div>
    </div>
</div>
</div>


    <h3>Books you have finished reading: <button class="btn btn-primary"  data-toggle="modal" data-target="#modal-search" data-search="past" data-backdrop="static"  data-keyboard="false">Add a Book</button></h3>
<div class="container">
    <div class="row d-flex justify-content-center">
    <div class="col-md-12 col-lg-10" id="past-list"  >
        <ul class="mx-auto text-center"  id="lightSlider-past">

            {{#each books}}
            {{#unless this.reading}}
            <li class="p-4"  data-id={{this.ISBN}}>
                <img src="{{this.URL}}" data-isbn={{this.ISBN}} alt="{{this.name}}">
            </li>
            {{/unless}}
            {{/each}}
        
        </ul>
    </div>
    </div>
    </div>

    <h2>Recommended titles for you:</h2>

    <div id="recommendation-placeholder">
        <div class="loader"></div>
    </div>

    <div class="col-md-8 col-lg-6">
        <ul id="lightSlider-recommendation" class="hide">
        
        </ul>
    </div>

</div>


<!-- Modal for searching books -->
<div class="modal fade" id="modal-search" tabindex="-1" role="dialog" aria-labelledby="modal-search-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Search by Title</h3>
        <form class="title">
            <div class="form-group">
            <input type="title" class="form-control" id="title-input" placeholder="Title">
            </div>
            <button type="submit" class="btn btn-primary">Search Title</button>
        </form>

        <h3>Search by Author</h3>
        <form class="author">
            <div class="form-group">
            <input type="author" class="form-control" id="author-input" placeholder="Author">
            </div>
            <button type="submit" class="btn btn-primary">Search Author</button>
        </form>
      </div>
      <div class="modal-body">
        <div>
            <ul id="search-results" class="list-group">

            </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for rating books -->
<div class="modal fade" id="modal-rating" tabindex="-1" role="dialog" aria-labelledby="modal-rating-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rate the book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Are you done?</h3>
        <form id="rating-form">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="done" id="finished" value="true" checked>
              <label class="form-check-label"  for="finished">
                Finished
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="done" id="dropped" value="false" >
              <label class="form-check-label" for="dropped">
                Dropped
              </label>
            </div>
            <div class="rating">
              <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
              <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
              <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
              <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
              <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="form-group">
              <textarea class="form-control" aria-label="With textarea" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <div>
            <ul id="search-results">

            </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for viewing book -->
<div class="modal fade" id="modal-new-book" tabindex="-1" role="dialog" aria-labelledby="modal-new-book-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Recommended for you</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="book-cover">
        </div>
        <div>
          Title: <span id='book-title'></span>
          <br>
          Author: <span id='book-author'></span>
          <br>
          Page Count: <span id='book-page'></span>
          <br>
          Description: <span id='book-description'></span>
          <br>
        </div>
        <button class="btn btn-primary" id="add-book">Add to Reading list</button>
        <div>
          <h4>Reviews:</h4>
        </div>
        <div id="book-review">
          None available at the moment
        </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>

{{!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> --}}
<script src="./js/script.js"></script>
<script src="./js/index.js"></script>