{{!-- This is the content of the {{body}} tag in our main layout --}}
{{!-- <div class="col-md-9"><h2 class="text-primary"> Welcome back <span id="name-of-user"></span><span>!</span></h2></div> --}}    DEEEEEEEEELETE

<div class="row d-flex justify-content-center">
<div class="col-md-12 col-lg-8 card">

  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link pointer active" id='current-link'>Current Books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pointer" id='past-link'>Past books</a>
  </li>
  <li class="nav-item">
    <a class="nav-link pointer" id='recommended-link'>Recommended for you</a>
  </li>
  {{!-- <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li> --}}
  </ul>

  <div class="p-0 m-0 dashboard-view" id='current-div'>


    <h3>Books on your Reading and To-Read List: <button class="btn btn-primary"  data-toggle="modal" data-target="#modal-search"  data-search="current" >Add a Book</button></h3>

    <div class="" id="current-list" >
        <ul id="lightSlider-current">

            {{#each books}}
            {{#if this.reading}}
            <li data-id={{this.ISBN}}>
                <img src="{{this.URL}}" data-isbn="{{this.ISBN}}" alt="{{this.title}}"  class="pointer">

            </li>
            {{/if}}
            {{/each}}
            {{!-- These are our dashboard's navigation tabs--}}                       DEEEEEEEEELETE
        <ul class="nav nav-tabs justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#current-list" role="tab">Current Books</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#past-list" role="tab">Past books</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#recommendations">Recommended for You</a>
          </li>

          {{!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> --}}
        </ul>
    </div>


    </div>

    <div class="p-0 m-0 dashboard-view hide" id='past-div'>


     <h3>Books you have finished reading: <button class="btn btn-primary"  data-toggle="modal" data-target="#modal-search" data-search="past">Add a Book</button></h3>
    <div class="" id="past-list" >
        <ul id="lightSlider-past">

            {{#each books}}
            {{#unless this.reading}}
            <li data-id={{this.ISBN}}>
                <img src="{{this.URL}}" data-isbn="{{this.ISBN}}" alt="{{this.title}}">

            </li>
            {{/unless}}
            {{/each}}
        
        </ul>
    </div>

  

    </div>

    <div class="p-0 m-0 dashboard-view hide" id="recommended-div">


    <h3>Recommended titles for you:</h3>

<div id="recommendation-placeholder" class='row justify-content-center pt-3'>
        <div class="loader"></div>
    </div>
    <div class="">
        <ul id="lightSlider-recommendation" class="hide">
        
        </ul>
    </div>

  

    </div>
</div>
</div>


<!-- Modal for searching books -->
<div class="modal fade" id="modal-search" tabindex="-1" role="dialog" aria-labelledby="modal-search-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Search by Title</h3>
        <form class="title">
            <div class="form-group">
            <input type="title" class="form-control" id="title-input" placeholder="Title" required>
            </div>
            <button type="submit" class="btn btn-primary">Search Title</button>
        </form>

        <h3>Search by Author</h3>
        <form class="author">
            <div class="form-group">
            <input type="author" class="form-control" id="author-input" placeholder="Author" required>
            </div>
            <button type="submit" class="btn btn-primary">Search Author</button>
        </form>
      </div>
      <div class="modal-body">
        <div>
            <ul id="search-results" class="list-group">

            </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for rating books -->
<div class="modal fade" id="modal-rating" tabindex="-1" role="dialog" aria-labelledby="modal-rating-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rate the book</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Are you done?</h3>
        <form id="rating-form">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="done" id="finished" value="true" checked>
              <label class="form-check-label"  for="finished">
                Finished
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="done" id="dropped" value="false" >
              <label class="form-check-label" for="dropped">
                Dropped
              </label>
            </div>
            <div class="rating">
              <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
              <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
              <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
              <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
              <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>
            <div class="form-group">
              <textarea class="form-control" aria-label="With textarea" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <div>
            <ul id="search-results">

            </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for viewing book -->
<div class="modal fade" id="modal-new-book" tabindex="-1" role="dialog" aria-labelledby="modal-new-book-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Recommended for you</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="book-cover">
        </div>
        <div style="max-height: 200px; overflow-y: auto;">
          Title: <span id='book-title'></span>
          <br>
          Author: <span id='book-author'></span>
          <br>
          Page Count: <span id='book-page'></span>
          <br>
          Description: <span id='book-description'></span>
          <br>
        </div>
        <button class="btn btn-primary" id="add-book">Add to Reading list</button>
        <div>
          <h4>Reviews:</h4>
        </div>
        <div id="book-review" style="max-height: 100px; overflow-y: auto;">
          None available at the moment
        </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
</div>

{{!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> --}}
<script src="./js/script.js"></script>
<script src="./js/index.js"></script>
